
.about-company {
	@extend %center-container;
	height: 30rem;
	box-sizing: border-box;
	padding: 0 5%;

	background:transparent url('img/success.jpg') center/cover no-repeat;
	color: #fff;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	.about {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		h2 {
			width: 70%;
			margin-bottom: 20px;
	}
		p {
			max-width: 30rem;
		}
	}
	
}