.callback {
	width: 90%;
	margin: 0 auto;

	box-sizing: border-box;
	padding: 0 $basic-padding;
	position: relative;
	height: 35.625rem; // 570px;

	display: flex;
	align-items: center;
	justify-content: center;

	background:transparent url('img/colab.jpg') center/cover no-repeat;
	
	.callback-form {
		box-sizing: border-box;
		padding: 100px 0;
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #fff;
		&:not([data-callback-state=button]) [data-callback-show] { display: none; }
		&:not([data-callback-state=form]) [data-callback-form] { display: none; }
	}
	p {
		margin: 20px 0 40px 0;
		max-width: 37.3125rem; // 597px
	}
	button {
		vertical-align: top;
		@extend %primary-button;
		font-size: 1rem;
	}
	@include mq("1680", min) {
		padding: 0 10%;
		width: 80%;
	}
}