.marble {
	[marble-carousel] {
		width: 100%;
		.swiper-slide {
			width: 100%;
			height: 100%;
			padding: 0;
		}
		.swiper-button {
			background: url('img/arrow-white.svg') center/contain no-repeat;
		}
		.swiper-button-prev {
			left: 15px;
		}

		.swiper-button-next {
			right: 15px;
		}
	}

	@include mq("ipad-vrt") {
		[marble-carousel] {
			order: 0;
			.swiper-slide {
				padding: 0;
				}
			.swiper-button {
				top: 50%;
				left: 5px;
			}
			.swiper-button-next {
				left: auto;
				right: 5px;
			}
			}
			.model { height: 351px; }

	}
}

