.footer {
	background-color: #222;

	.footer-wrapper {
		@extend %center-container;
		box-sizing: border-box;
		padding: 50px $padding-text;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		color: #ccc;
		font-size: 11px;
	}

	.footer-address {
		max-width: 20rem;

		a { margin-top: 2rem; }
	}

	address { font-style: inherit; }

	span {
		white-space: nowrap;

		a { display: inline-block; }
	}

	a {
		border-bottom: 1px solid #666;
		display: table;
		color: #eee;

		&[href^=tel] {
			font-size: 1.875rem;
			color: white;
			border-bottom: none;
			line-height: 1.3;
		}
	}

	@include mq("ipad-vrt") {
		.footer-wrapper {
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-around;
			padding: 30px 20px;
			font-weight: 600;
			line-height: 1.64;
		}

		a {
			margin-bottom: 0.5rem;
		}

		.footer-phones {
			font-size: 38px;
			margin-top: 1rem;
		}

		address { padding: 16px 0; }
	}

}
