@import "reviews/carousel";

.reviews {
	@extend %center-container;
	box-sizing: border-box;
	padding: 100px 0;

	.wrapper {
		display: flex;
		height: 34.4375rem;
		border: solid 1px #ddd;
	}

	.about {
		width: 50%;
		height: 100%;
		background: url('img/reviews.jpg') center/cover no-repeat;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;

		h2 {
			color: white;
			max-width: 16.6875rem;
		}
	}

	@include mq("ipad-vrt") {
		padding: 40px 0;

		.wrapper {
			height: auto;
			border: none;
			flex-direction: column;
		}

		.about {
			box-sizing: border-box;
			padding-left: 20px;
			margin-bottom: 22px;
			justify-content: flex-start;
			width: 100%;
			order: 1;
			background-image: none;

			h2 { color: black; }
		}
	}

}
