.about {
	@extend %text-block;
	font-size: 1.125rem;
	p { margin-bottom: 0;}
}
.about-image {
	width: 50%;
	background:transparent url('img/about.jpg') center/cover no-repeat;
}
@include mq("768", max) {
	.about-image {
		order: 1;
		width: 100%;
		height: 261px;
		margin-top: 75px;
		margin-bottom: 50px;
	}
	.about {
		order: 2;
	}
}