@import "navigation.scss";
@import "present-block";
@import "about-block";
.header {
	@extend %center-container;
	box-sizing: border-box;
	padding: 0 0 100px 0;
	@include mq("768", max) {
		padding: 0;
	}
	
	

}