@import "navigation.scss";
.header {
	box-sizing: border-box;
	padding: 0 $basic-padding 100px $basic-padding;
	.present {
		@extend %text-block;

		button {
			@extend %primary-button;
		}
	}
	.present-image {
		width: 50%;
		background:transparent url('img/header.jpg') center/cover no-repeat;
	}
	
	
	.about {
		@extend %text-block;
		font-size: 1.125rem;
		p { margin-bottom: 0;}
	}
	.about-image {
		width: 50%;
		background:transparent url('img/about.jpg') center/cover no-repeat;
	}


	@include mq("desktop-wide", min) {
		padding-left: 15%;
		padding-right: 15%;
	}
}