.bio-fireplace(data-expandable)
	section.intro
		h2 Биокамины
		p Камины, которые работают на&nbsp;биотопливе, не&nbsp;имеют продуктов сгорания, при&nbsp;этом вы&nbsp;любуетесь живым пламенем. Их можно устанавливать в&nbsp;квартирах, ресторанах, отелях, офисах.
		
		.novelty
			span Новинки!
			p Биотопливо с&nbsp;ароматом ванили и&nbsp;цитруса.
			
		button.show-models(data-expandable-toggle) Смотреть модели
		
	.models-container(data-expandable-block)
		.models-wrapper
			+model("Классические", "img/fireplaces_items/bio/12.jpg")
			+model("Современные", "img/fireplaces_items/bio/13.jpg")
			
