.fireplaces-container
	section.electric-fireplace
		h2 Электрокамины
		p Пользуются большим спросом: не требуют дополнительных хлопот, создают уют и комфорт . Их можно встраивать в любые порталы, ниши, размещать настенно, устанавливать автономно.
		button.show-models Смотреть модели
	.models-container
		.models-wrapper
			.model
				- var title = "С использованием гелографического эффекта";
				- var link = "img/fireplaces_items/electro/14.jpg";
				- var preload = "img/giphy.gif";
				img(alt = title, data-src = link, src = preload)
				h3 #{title}
				p Прекрасная имитация пламени с опцией обогрева.
				button.modal-button Заказать
			.model
				- var title = "С эффектом 3D";
				- var link = "img/fireplaces_items/electro/15.jpg";
				- var preload = "img/giphy.gif";
				img(alt = title, data-src = link, src = preload)
				h3 #{title}
				p Реалистичная имитация живого пламени с помощью пара, подсвеченного особым образом. 
				button.modal-button Заказать
			.model
				- var title = "С эффектом 5D";
				- var link = "img/fireplaces_items/electro/16.jpg";
				- var preload = "img/giphy.gif";
				img(alt = title, data-src = link, src = preload)
				h3 #{title}
				p Имитация натурального пламени с использованием LED-технологии.
				button.modal-button Заказать