.electric-fireplace(data-expandable)
	section.intro
		h2 Электрокамины
		p Пользуются большим спросом: не&nbsp;требуют дополнительных хлопот, создают уют и&nbsp;комфорт . Их&nbsp;можно встраивать в&nbsp;любые порталы, ниши, размещать настенно, устанавливать автономно.
		button.show-models(data-expandable-toggle) Смотреть модели
		
	.models-container(data-expandable-block)
		.models-wrapper
			+model("С использованием голографического эффекта", "img/fireplaces_items/electro/14.jpg")
				p Прекрасная имитация пламени с&nbsp;опцией обогрева.
				
			+model("С эффектом 3D", "img/fireplaces_items/electro/15.jpg")
				p Реалистичная имитация живого пламени с&nbsp;помощью пара, подсвеченного особым образом.
				
			+model("С эффектом 5D", "img/fireplaces_items/electro/16.jpg")
				p Имитация натурального пламени с&nbsp;использованием LED-технологии.
