.firewood(data-expandable)
	section.intro#firewood
		h2 Дровяные камины
		p Имеем широкий модельный ряд каминных топок. Наше долгосрочное и&nbsp;стабильное сотрудничество с&nbsp;ведущими европейскими и&nbsp;российскими производителями гарантирует только лучшее качество.
		button.show-models(data-expandable-toggle) Смотреть модели
		
	.models-container(data-expandable-block)
		.models-wrapper
			+model("Топка с прямым стеклом", "img/fireplaces_items/wood/01.jpg")
				p Такие топки можно сделать в&nbsp;квадратном виде, горизонтальном и вертикальном.
				
			+model("Топка пристенно-угловая", "img/fireplaces_items/wood/02.jpg")
				p Такая форма стекла увеличивает обзор топочной части, позволяя наслаждаться игрой пламени.
				
			+model("Топка трёхсторонняя", "img/fireplaces_items/wood/03.jpg")
				p Такой вид топки обеспечивает максимальный обзор пламени.

			+model("Топка с панорамным и призматическим стеклом", "img/fireplaces_items/wood/04.jpg")
				p Конфигурация стекла позволяет наблюдать за&nbsp;пламенем в&nbsp;широком диапазоне.
			
			+model("Туннельные топки", "img/fireplaces_items/wood/05.jpg")
				p Данный вид топок позволяет наблюдать за&nbsp;пламенем из&nbsp;двух помещений.

			+model("Островные камины", "img/fireplaces_items/wood/06.jpg")
				p Островок релакса и неспешной беседы в&nbsp;кругу друзей и&nbsp;близких.

			+model("В стиле Hi-Tech", "img/fireplaces_items/wood/07.jpg")
