.marble(data-expandable)
	section.intro
		h2 Порталы из натурального камня
		p Природа создает неповторимый и&nbsp;уникальный рисунок в&nbsp;камне, мы&nbsp;придаем камню неповторимые и&nbsp;уникальные формы. Используем элементы бронзового литья и&nbsp;скульптурной резьбы по&nbsp;камню.
		button.show-models(data-expandable-toggle) Смотреть модели
		
	.models-container(data-expandable-block)
		.models-wrapper
			.model 
				.swiper-container(marble-carousel)
					.swiper-button-prev.swiper-button
					.swiper-button-next.swiper-button
					.swiper-wrapper
						- var marbleCount = 17;
						while marbleCount <= 28
							.swiper-slide
								- var link = "img/fireplaces_items/marble/"+ marbleCount +".jpg";
								- var title = "Классические мраморные камины";
								img.swiper-lazy(alt= title, data-src= link, src= "img/giphy.gif")
								noscript
									img(src = link)
								- marbleCount++
				h3 Мраморные порталы
				p Собственная база по&nbsp;камнеобработке позволит воплотить даже самые смелые идеи. Индивидуальный дизайн под&nbsp;ваши требования и&nbsp;предпочтения.
				button.modal-button Заказать
			+model("Рустикальный стиль", "img/fireplaces_items/rustic/29.jpg")
				p Дополнит интерьер, выполненный в&nbsp;стиле «прованс» или&nbsp;«шале». Используем природный камень: мрамор, песчаник, доломит, известняк, ракушечник
