.fireplaces-container
	.stove-fireplace
		h2 Печи-камины
		p Основное отличие печей от каминов в том, что печи накапливают тепло. И, даже после того, как угас последний уголек, печь продолжает ласково делиться своим теплом с вами.
		button.show-models Смотреть модели
	.models-container
		.models-wrapper
			.model
				- var title = "Кафельные печи";
				- var link = "img/fireplaces_items/stove/08.jpg";
				img(src= link, alt= title)
				h3 #{title}
				p Это не просто отопительная система, это, пожалуй, главное украшение любого интерьера.
				button.modal-button Заказать

			.model
				- var title = "Буржуйки";
				- var link = "img/fireplaces_items/stove/09.jpg";
				img(src= link, alt= title)
				h3 #{title}
				p Самые востребованные  печи на сегодняшний день — от одного взгляда на них  становится тепло.
				button.modal-button Заказать

			.model
				- var title = "Стальные печи";
				- var link = "img/fireplaces_items/stove/10.jpg";
				img(src= link, alt= title)
				h3 #{title}
				p Эти печи великолепно вписываются в современные интерьеры Hi-Tec и  Loft, образуя уголок домашнего уюта.
				button.modal-button Заказать

			.model
				- var title = "Отопительно-варочные печи";
				- var link = "img/fireplaces_items/stove/11.jpg";
				img(src= link, alt= title)
				h3 #{title}
				p Эти печи позволят вам любоваться игрой огня и получать тепло, пока на плите готовится вкусный обед или ужин.
				button.modal-button Заказать