section.about-company#about-company
	.about
		h2 Более 20 лет успешной работы
		p Наше неоспоримое преимущество — своя собственная база по камнеобработке, которая обеспечивает индивидуальный подход к каждому клиенту.
		p Высокая квалификация наших специалистов позволит воплотить самые смелые идеи.