//- section.about-company
//- 	.about
//- 		h2 О компании
//- 		p У нас имеется более двадцати лет успешной работы, поэтому высокая квалификация наших специалистов позволит воплотить самые смелые идеи.
//- 		p Наше неоспоримое преимущество — своя собственная база по камнеобработке, которая обеспечивает индивидуальный подход к каждому клиенту.
//- 		p Мы предлогаем широкий выбор каминных топок и печей от ведущих производителей, а при монтаже используются только высококлассные комплектующие материалы.
//- 		p Наши камины — украшение вашего дома!

section.about-company
	.about
		h2 Более 20 лет успешной работы
		p Наше неоспоримое преимущество — своя собственная база по камнеобработке, которая обеспечивает индивидуальный подход к каждому клиенту.
		p Высокая квалификация наших специалистов позволит воплотить самые смелые идеи.