section.advantages 
	h2 Преимущества
	.advantages-list 
		.item
			.count 1
			h3 От а до я
			p Полный спектор работ по монтажу каминов и печей. Выезд на змер — бонус.
		.item
			.count 2
			h3 Индивидуальный подход
			p Собственное производство по камнеобработке.
		.item
			.count 3
			h3 100% Гарантия
			p Гарантия один год, после-гарантийное обслуживание, лецензия МЧС.

