section.firewood
	h2 Дровяные камины
	p Имеем широкий модельный ряд каминных топок. Нашие долгосрочное и стабильное сотрудничество с ведущими европейскими и российскими производителями гарантирует только лучшее качество.
	button Смотреть модели
	
.stove-fireplace
	h2 Печи-камины
	p Основное отличие печей от каминов в том, что печи накапливают тепло. И, даже после того, как угас последний уголек, печь продолжает ласково делиться своим теплом с вами.
	button Смотреть модели

section.bio-fireplace
	h2 Биокамины
	p Камины, которые работают на биотопливе, не имеют продуктов сгорания, при этом вы любуетесь живым пламенем. Их можно устанавливать в квартирах, ресторанах, отелях, офисах.
	button Смотреть модели
	.novelty
		span Новинки!
		p Биотопливо с ароматом ванили и цитруса.

section.electric-fireplace
	h2 Электрокамины
	p Пользуются большим спросом: не требуют дополнительных хлопот, создают уют и комфорт . Их можно встраивать в любые порталы, ниши, размещать настенно, устанавливать автономно.
	button Смотреть модели

section.marble
	h2 Мраморные порталы
	p Природа создает неповторимый и уникальный рисунок в камне, мы придаем камню неповторимые и уникальные формы. Используем элементы бронзового литья и скульптурной резьбы по камню.
	button Смотреть модели

