section.electric-fireplace
	h2 Электрокамины
	p Мы реклизовываем широкий модельный ряд каминных топок. У нас сложилось долгосрочное и стабильное сотрудничество со всеми ведущими европейскими и российскими производителями, поэтому гарантируем лучшее качество.
	button Смотреть модели
section.bio-fireplace
	h2 Биокамины
	p Мы реклизовываем широкий модельный ряд каминных топок. У нас сложилось долгосрочное и стабильное сотрудничество со всеми ведущими европейскими и российскими производителями, поэтому гарантируем лучшее качество.
	button Смотреть модели