footer.footer
	address
		a(href="index.html") KaminTime
		p Нахимова 48, офис 307 Каждый день с 10:00 до 19:00
	.contants
		a(href="mailto:kamintime@gmail.com") kamintime@gmail.com
		a(href="instagram.com/kamintime") instagram.com/kamintime
		a(href="tel:88002000600") 8 800 2000 600