footer.footer#footer
	.logo
	address Нахимовский проспект, 24, Центр дизайна и интерьера «EXPOSTROY», павильон 6, офис 6-16
	ul
		a(href="mailto:kamintime@gmail.com") kamintime@gmail.com
		a(href="#") Политика конфиденциальности  
	a(href="tel:78002000600") +7 800 2000 600