//- header.header
//- 	a(href="index.html" data-logo) KaminTime
//- 	a(href="tel:88002000600" data-tel) 8 800 2000 600
//- 	.wrapper
//- 		h1 Пришло время установить камин&nbsp;в&nbsp;вашем&nbsp;доме
//- 		h3 Производство и установка каминов от классики до&nbsp;наших дней
//- 		button Заказать

header.header
	nav.navigation
		h1.logo
		ul
			a(href="#") О нас
			a(href="#") Камины
			a(href="#") Контакты
			a(href="#") Для бизнеса
			a(href="#") Отзывы
		a(href="tel:78002000600") +7 800 2000 600
	section.wrapper
		.present
			h2 Пришло время установить камин в вашем доме?
			p Производство и установка каминов от классики до наших дней
			button Заказать
		.present-image
	section.wrapper
		.about-image
		.about
			h2 Наши камины —украшение вашего дома
			p Широкий выбор каминных топок и печей от ведущих производителей. Только высококлассные комплектующие материалы.