header.header

	a(href="index.html" data-logo) KaminTime
	a(href="tel:88002000600" data-tel) 8 800 2000 600
	.wrapper
		h1 Пришло время установить камин&nbsp;в&nbsp;вашем&nbsp;доме
		h3 Производство и установка каминов от классики до&nbsp;наших дней
		button Заказать