extends layouts/app.jade

block variables
	- title = "KaminTime"
	
block content
	include sections/navigation.jade
	include sections/header.jade
	include sections/about-company.jade
	include sections/advantages.jade
	include sections/fireplaces.jade
	include sections/reviews.jade
	include sections/callback.jade
	include sections/location.jade
	include sections/footer.jade
	
	include sections/modal.jade
	
block scripts
	script(src="script/main.min.js")
