extends layouts/app.jade

block variables
	- title = "KaminTime"
	
block content

	include sections/header.jade
	include sections/about-company.jade
	include sections/advantages.jade
	include sections/fireplaces/fireplaces.jade
	include sections/reviews.jade
	include sections/callback.jade
	include sections/location.jade
	include sections/footer.jade


	include sections/modal.jade
block scripts
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
	script(src="swiper/js/swiper.min.js")
	script(src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js")
	script(src="main.min.js")
