section.location
	.about
		h2 Знаем подход
		p Вы можете позвонить нам и заранее договориться о встрече  в удобное для вас время.
		p Если вы еще не решили как должен выглядеть ваш камин ,за чашечкой кофе  мы поможем подобрать модель с учетом общего интерьера.
		p Наш офис расположен в удобном месте  со свей парковкой. 
		address Нахимовский проспект, 24 Центр&nbsp;Дизайна&nbsp;и&nbsp;Интерьера&nbsp;«EXPOSTROY» павильон&nbsp;6,&nbsp;офис&nbsp;6-16