section.location#location
	.about
		h2 Знаем подход
		p Вы можете позвонить нам и заранее договориться о встрече  в удобное для вас время.
		p Если вы еще не решили как должен выглядеть ваш камин, за чашечкой кофе  мы поможем подобрать модель с учетом общего интерьера.
		p Наш офис расположен в удобном месте со своей парковкой.
		a(href="#") Схема проезда