section.models 


	figure.model-1
		img(src="img/fireplaces/01.jpg", alt="kamin-photo")
		h3 Топка с прямым стеклом
		p Такие топки можно сделать в квадратном виде, горизонтальном и вертикальном.
		span от 110 000 ₽
	figure.model-2
		img(src="img/fireplaces/02.jpg", alt="kamin-photo")
		h3 Топка пристенно-угловая
		p Такая форма стекла увеличивает обзор топочной части, позволяя наслаждаться игрой пламени.
		span от 120 000 ₽
	figure.model-3
		img(src="img/fireplaces/03.jpg", alt="kamin-photo")
		h3 Топка трёхсторонняя
		p Такая форма стекла увеличивает обзор топочной части, позволяя наслаждаться игрой пламени.
		span от 130 000 ₽
	figure.model-4
		img(src="img/fireplaces/04.jpg", alt="kamin-photo")
		h3 Топка с панорамным и призматическим стеклом
		p Конфигурация стекла позволяет наблюдать за пламенем в широком диапазоне.
		span от 120 000 ₽
	figure.model-5
		img(src="img/fireplaces/05.jpg", alt="kamin-photo")
		h3 Туннельные топки
		p Данный вид топок позволяет наблюдать за пламенем из двух помещений.
		span от 150 000 ₽
	figure.model-6
		img(src="img/fireplaces/06.jpg", alt="kamin-photo")
		h3 Островные камины
		p Островок релакса и неспешной беседы в кругу друзей и близких.
		span от 140 000 ₽
	figure.model-7
		img(src="img/fireplaces/07.jpg", alt="kamin-photo")
		h3 В стиле Hi-Tech
		p Брутальный вид каминов никого не оставляет равнодушным.
		span от 120 000 ₽