section.reviews
	.wrapper
		.about
			h2 Клиенты о&nbsp;нас
		.swiper-container
			.swiper-button-prev.swiper-button
			.swiper-button-next.swiper-button
			.swiper-wrapper
				.swiper-slide
					img(src="img/client.jpg", alt="client-logo")
					span Ирина Александровна
					small Домохозяйка
					p Помимо стандартных моделей, мы изготавливаем уникальные камины с порталами, отлитыми в бронзе, с резьбовыми элементами наших скульптуров.
					p Занимаемся изготовлением столешниц, ступеней и подоконников из природного камня высокого качества.
				.swiper-slide
					img(src="img/client.jpg", alt="client-logo")
					span Ирина Александровна
					small Домохозяйка
					p Помимо стандартных моделей, мы изготавливаем уникальные камины с порталами, отлитыми в бронзе, с резьбовыми элементами наших скульптуров.
					p Занимаемся изготовлением столешниц, ступеней и подоконников из природного камня высокого качества.
				.swiper-slide
					img(src="img/client.jpg", alt="client-logo")
					span Ирина Александровна
					small Домохозяйка
					p Помимо стандартных моделей, мы изготавливаем уникальные камины с порталами, отлитыми в бронзе, с резьбовыми элементами наших скульптуров.
					p Занимаемся изготовлением столешниц, ступеней и подоконников из природного камня высокого качества.
				.swiper-slide
					img(src="img/client.jpg", alt="client-logo")
					span Ирина Александровна
					small Домохозяйка
					p Помимо стандартных моделей, мы изготавливаем уникальные камины с порталами, отлитыми в бронзе, с резьбовыми элементами наших скульптуров.
					p Занимаемся изготовлением столешниц, ступеней и подоконников из природного камня высокого качества.