%primary-button {
	display: inline-block;
	padding: 10px 45px;
	background-color: transparent;
	border: solid 1px #222222;
	font-size: 1rem;
	line-height: 1.89;
	letter-spacing: 4.1px;
	text-align: center;
	color: #222;
	text-transform: uppercase;
	@include mq("768", max) {
		padding: 5px 25px;
		letter-spacing: 3.4px;
	}
	@include mq("phone", max) {
		letter-spacing: 2.6px;
	}
}