%primary-button {
	padding: 10px 45px;
	background-color: #d29840;
	border: none;
	cursor: pointer;
	font-size: 1.18em;
	line-height: 1.89;
	letter-spacing: 4.1px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}
%secondary-button {
	padding: 10px 45px;
	background-color: transparent;
	border: solid 2px #c99951;
	cursor: pointer;
	font-size: 1.18em;
	line-height: 1.89;
	letter-spacing: 4.1px;
	text-align: center;
	color: black;
	text-transform: uppercase;
}