%primary-button {
	display: inline-block;
	padding: 10px 45px;
	background-color: transparent;
	border: solid 1px #222222;
	border-radius: 0;
	outline: none;
	font-size: 1rem;
	font-family: inherit;
	line-height: 1.89;
	letter-spacing: 0.1em;
	text-align: center;
	color: #222;
	text-transform: uppercase;

	@include mq("ipad-vrt") {
		padding: 5px 25px;
		letter-spacing: 3.4px;
	}

}
