%introduction-text {
	$color: #d29840;
	color: $color;
	font-size: 3.75rem;
	text-align: center;
	padding-bottom: 40px;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		width: 100px;
  		height: 2px;
		left: 50%;
		transform: translate(-50%, 0);
		bottom: 20px;
  		background-color: $color;
	}
}
%introduction-text-white {
	$color: #fff;
	color: $color;
	&:before {
		background-color: $color;
	}
}