.models-container {
	width: 1300px;
	margin: 0 auto;
	display: none;
}

.models-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	box-sizing: border-box;
	padding: 0 40px 50px 40px;
}


%model-item {
	position: relative;
	margin: 30px 30px;
	width: 21.375rem;
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	h3 {
		margin-top: 40px;
		font-size: 1rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 600;

	}
	img {
		display: block;
		width: 100%;
		height: 21.8125rem; // 349px;
	}
	p {
		font-size: 1rem;
		margin: 35px 0;
	}
	button {
		position: absolute;
		left: 0;
		bottom: 0;
		@extend %primary-button;
	}
}


%models-block {
	@extend %center-container;
	height: 28.125rem; // 450px;
	box-sizing: border-box;
	padding: 0 $basic-padding;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 20px;
	color: white;
	p {
		margin: 35px 0;
		max-width: 39.625rem;
	}
	button {
		@extend %primary-button;
		font-size: 1rem;
		color: #fff;
		border: 1px solid #fff;
	}

}