.models-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding-top: 60px;
	padding-bottom: 60px;

	@include mq("768", max) {
		padding: 10px 18px 60px 8px;
	}
	
	@media screen and (min-width: 375px) and (max-width: 1025px) {
		width: 80%;
		margin: 0 auto;
	}
}
