.text-input {
	display: inline-block;
	border: 1px solid #aaa;
	box-sizing: border-box;
	padding: 11px 50px;
	background: white;
	vertical-align: top;

	input {
		background: transparent;
		outline: none;
		border: none;
		width: 100%;
		line-height: 28px;
	}

	&.error {
		border-color: #ddd;
	}

	&.disabled {
		pointer-events: none;
		opacity: 0.2;
	}
}
