.text-input {
	display: inline-block;
	border: 1px solid #aaa;
	box-sizing: border-box;
	padding: 11px 0 11px 21px;
	background: white;
	vertical-align: top;
	margin-bottom: 10px;

	input {
		background: transparent;
		outline: none;
		border: none;
		line-height: 28px;
	}

	&.error {
		border-color: #ddd;
	}

	&.disabled {
		pointer-events: none;
		opacity: 0.2;
	}
	@include mq("phone") {
		padding: 6px 0 6px 15px;
		input {
			max-width: 160px;
		}
	}
}
[data-callback-form] {
	font-size: 0;
	@include mq("phone") {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
}
