.text-input {
	display: inline-block;
	border: 1px solid #aaa;
	box-sizing: border-box;
	padding: 11px 0 11px 21px;
	background: white;
	vertical-align: top;
	margin-bottom: 10px;

	input {
		background: transparent;
		outline: none;
		border: none;
		width: 80%;
		line-height: 28px;
	}

	&.error {
		border-color: #ddd;
	}

	&.disabled {
		pointer-events: none;
		opacity: 0.2;
	}
}
[data-callback-form] {
	font-size: 0;
	display: inline-block;
	text-align: left;
}
