.privacy-policy {
	overflow: hidden;
	line-height: 1.4;
	padding: 3rem 2rem;

	.privacy-policy-content {
		max-width: 800px;
		margin: auto;

		a {
			display: block;
			width: 9.5rem; // 152px;
			height: 2.5rem; // 40px;
			background: url('img/logo.svg') center/contain no-repeat;
			color: black;
			font-size: 0;
			margin: 0 auto;
		}
	}

	p, ul {
		&:not(:last-child) {
			margin-bottom: 0.6em;
		}
	}

	h1 {
		font-size: 4rem;
		margin-top: 3rem;
		margin-bottom: 2rem;
		line-height: 1;
	}

	ul {
		padding-left: 2em;
	}

	@include mq("iphone") {
		padding: 2rem 1rem;

		h1 {
			font-size: 1.5rem;
			margin-top: 2rem;
			margin-bottom: 1rem;
		}
	}

}
