.footer { 
	box-sizing: border-box;
	padding: 50px 5%;
	background-color: #222;

	display: flex;
	justify-content: space-between;
	align-items: center;

	color: #ccc;
	font-size: 11px;
	.logo {
		width: 9.5rem; // 152px;
		height: 2.5rem; // 40px;
		background:transparent url('img/logo-white.svg') center/100% no-repeat;
		border: none;
	}
	ul {
		max-width: 11.3125rem; // 181px
	}
	address {
		display: inline;
		color: #ccc;
		font-size: 11px;
		max-width: 26.0625rem; // 417px
		font-style: normal;
	}
	a {
		border-bottom: 1px solid #ccc;
		display: inline-block;
		margin-bottom: 5px;
		color: #ccc;
	}
	a[href^=tel] {
		min-width: 18.1875rem; // 291px
		font-size: 2.5rem; // 40px
		color: #fff;
		font-family: $font-secondary;
		border-bottom: none;
	}
	@include mq("1680", min) {
		padding: 50px 10%;
	}
}