.swiper-container {
	width: 50%;
	.swiper-slide {
		box-sizing: border-box;
		padding: 0 15%;

		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		width: 100%;
		img {
			width: 7.0625rem;
			height: 7rem;
			border-radius: 50%;
			margin-bottom: 50px;
		}
		span {
			margin-top: 50px;
			font-size: 1rem;
			font-weight: 600;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
		p {
			margin: 10px 0;
		}
		small {
			color: #888;
			font-size: 1rem;
		}
	}
	.swiper-button {
		background:transparent url('img/arrow.svg') center/contain no-repeat;
		height: 30px;
		width: 13px;
		transform: rotate(-180deg);
	}
	.swiper-button-prev {
		left: 35px;
	}
	.swiper-button-next {
		transform: rotate(0deg);
		right: 35px;
	}

}