block variables

doctype html
html(lang='ru')
	head
		block head
			meta(charset='UTF-8')
			link(rel="stylesheet" href="swiper/css/swiper.min.css")
			link(rel='stylesheet', href='main.css')

			meta(name='viewport', content='width=device-width')
				
			title= title
		
	body
		block content
		
		block scripts
