.advantages {
	@extend %center-container;
	box-sizing: border-box;
	padding: 100px $basic-padding;
	h2 {
		text-align: center;
	}
	.advantages-list {
		margin: 0 auto;
		padding-bottom: 100px;
		display: flex;
		justify-content: space-between;
		align-items: baseline;

		.item {
			p {
				font-size: 16px;
			}
			box-sizing: border-box;
			position: relative;
			max-width: 17.5rem;
			padding: 80px 0 0 50px;
		}
		h3 {
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 10px;
			letter-spacing: 2px;
		}
		.count {
			font-family: $font-secondary;
			display: block;
			position: absolute;
			top: -20px;
			left: -10px;
			font-size: 9.375rem;
			color: #bbb;
			opacity: 0.3;
		}

	}
}