$basic-padding: 5%;
html {
	font-family: $font-primary;
	font-size: 16px;
	line-height: 1.4;
	color: #222;
	font-weight: 500;
}
h1 {
	font-size: 0;
}
h2 {
	font-size: 3.5rem;
	line-height: 1.07;
}
p,input {
	font-size: 1.125rem;
}
h1, h2 {
	font-family: $font-secondary;
}

%center-container {
	width: 90%;
	margin: 0 auto;
	@include mq("1680", min) {
		width: 80%;
	}
}
.modal-lock {
	overflow: hidden;
	padding-right: 15px;
}
