$basic-padding: 5%;
html {
	font-family: $font-primary;
	font-size: 16px;
	line-height: 1.4;
	color: #222;
	font-weight: 400;
}
h1 {
	font-size: 0;
}
h2 {
	font-size: 3.5rem;
	line-height: 1.07;
	@include mq("1024", max) {
		font-size: 30px;
	}
}
p,input {
	font-size: 1.125rem;
	color: #444;
	@include mq("1024", max) {
		font-size: 16px;
	}
}
h1, h2 {
	font-family: $font-secondary;
}

%center-container {
	width: 90%;
	margin: 0 auto;
	@include mq("1680", min) {
		width: 80%;
	}
	@include mq("1366", max) {
		width: 95%;
	}
	@include mq("768", max) {
		width: 100%;
	}
}
.modal-lock {
	overflow: hidden;

	padding-right: 15px;
	@include mq("tablet-wide", max) {
		padding-right: 0;
	}
}
.scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}
