// @MEDIA
$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "768":          769px,
    "850":          850px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "1366":         1367px,
    "desktop-wide": 1441px,
    "1680":         1680px
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media screen and (#{$type}-width: $width) {
            @content;
        }
    }
}