section.about-company#about-company
	.about
		h2 Более 20 лет успешной работы
		p Наше неоспоримое преимущество — своя&nbsp;собственная база по&nbsp;камнеобработке, которая обеспечивает индивидуальный подход к&nbsp;каждому клиенту.
		p Высокая квалификация наших специалистов позволит воплотить самые смелые идеи.