section.advantages#advantages
	h2 Преимущества
	.advantages-list 
		.item
			.count 1
			h3 От а до я
			p Полный спектр работ по монтажу каминов и печей. Выезд на замер — бонус.
		.item
			.count 2
			h3 Индивидуальный подход
			p Собственное производство по камнеобработке.
		.item
			.count 3
			h3 100% Гарантия
			p Гарантия один год, после-гарантийное обслуживание, лицензия МЧС.

