section.advantages#advantages
	h2 Преимущества
	.advantages-list 
		.item
			.count 1
			h3 От а&nbsp;до&nbsp;я
			p Полный спектр работ по&nbsp;монтажу каминов и&nbsp;печей. Выезд на&nbsp;замер — бонус.
		.item
			.count 2
			h3 Индивидуальный подход
			p Собственное производство по&nbsp;камнеобработке.
		.item
			.count 3
			h3 100% Гарантия
			p Гарантия один год, после-гарантийное обслуживание, лицензия МЧС.

