section.callback#callback
	.callback-form(data-callback-state="button")
		h2 Сотрудничаем с&nbsp;компаниями
		p Если вы представляете отель, ресторан, торговый комплекс — у нас для вас специальные условия.
		button(data-callback-show) Обратный звонок
		form(action="" method="post" data-callback-form)
			.text-input
				input(type="tel" placeholder="Телефон" name="phone")
			button(type="submit") Перезвоните мне