footer.footer#footer
	a(href="#header").logo
	address Нахимовский проспект, 24, Центр дизайна и интерьера «EXPOSTROY», павильон 6, офис 6-16
	ul
		a(href="mailto:7791166@mail.ru") 7791166@mail.ru
		a(href="privacy-policy.html") Политика конфиденциальности  
	a(href="tel:+79852119645") +7 985 211 9645
