footer.footer#footer
	.footer-wrapper
		.footer-address
			address Нахимовский проспект,&nbsp;24, Центр дизайна и&nbsp;интерьера «EXPOSTROY», павильон 6,&nbsp;офис 6-16
			a(href="privacy-policy.html") Политика конфиденциальности 

		a(href="mailto:7791166@mail.ru") 7791166@mail.ru
		
		span
			a(href="https://api.whatsapp.com/send?phone=79851149222") Whatsapp
			= " "
			| (+7 985 114 9222)

		.footer-phones
			a(href="tel:+79851149222") +7 985 114 9222
			a(href="tel:+79852119645") +7 985 211 9645
