header.header#header
	.time-has-come
		.text
			h2 Пришло время установить&nbsp;камин в&nbsp;вашем доме?
			p Вы на правильном пути! Обеспечим полный цикл по&nbsp;монтажу каминов и&nbsp;печей.
			
			.button-block
				button.modal-button Заказать
				small При заказе камина аксессуары в&nbsp;подарок

		.image
			.information
				.logo KaminTime
				a(href="tel:+79851149222") +7 985 114 9222
				a(href="tel:+79852119645") +7 985 211 9645
				
	.our-fireplaces
		.image
		.text
			h2 Наши камины — украшение вашего дома
			p Широкий выбор каминных топок и&nbsp;печей от&nbsp;ведущих производителей. Только высококлассные комплектующие материалы.
