header.header#header
	nav.navigation
		a(href="/index.html") 
			h1.logo
		ul
			a(href="#about-company") О нас
			a(href="#firewood") Камины
			a(href="#footer") Контакты
			a(href="#callback") Для бизнеса
			a(href="#reviews") Отзывы
		a(href="tel:+79852119645") +7 985 211 9645
	section.wrapper
		.present
			h2 Пришло время установить&nbsp;камин в&nbsp;вашем доме?
			p Вы на правильном пути! Обеспечим полный цикл по&nbsp;монтажу каминов и&nbsp;печей.
			.button-block
				button.modal-button Заказать
				small При заказе камина аксессуары в&nbsp;подарок

		.present-image
			.information
				.logo
				a(href="tel:79852119645") +7 985 211 9645
	section.wrapper
		.about-image
		.about
			h2 Наши камины — украшение вашего дома
			p Широкий выбор каминных топок и&nbsp;печей от&nbsp;ведущих производителей. Только высококлассные комплектующие материалы.
