section.location#location
	.about
		h2 Знаем подход
		p Вы можете позвонить нам и&nbsp;заранее договориться о встрече в&nbsp;удобное для вас время.
		p Если вы&nbsp;еще не&nbsp;решили как должен выглядеть ваш камин, за чашечкой кофе  мы поможем подобрать модель c&nbsp; учетом общего интерьера.
		p Наш офис расположен в&nbsp;удобном месте со&nbsp;своей парковкой.
		a(href="img/plan.jpg") Схема проезда