section.reviews#reviews
	.wrapper
		.about
			h2 Клиенты о&nbsp;нас
		.swiper-container
			.swiper-button-prev.swiper-button
			.swiper-button-next.swiper-button
			.swiper-wrapper
				.swiper-slide
					p Моя квартира выполнена в&nbsp;минималистическом стиле. Всё меня устраивало, пока не&nbsp;увидел у друзей биокамин в&nbsp;стиле hi-tec и&nbsp;понял, чего не&nbsp;достает в&nbsp;моем интерьре.
					p Друзья подсказали где&nbsp;я&nbsp;могу приобрести такой камин,  и&nbsp;я&nbsp;воспользовался советом.
					p Так что теперь друзья собираются у моего камина. Спасибо огромное КаминТайм за участие. Охотно рекомендую.
					span Эдгар Шабанов
					small Генеральный директор Clarins

				.swiper-slide
					p Очень хотелось иметь камин в&nbsp;квартире, но&nbsp;нет дымохода. Поэтому три года назад приобрел у&nbsp;КаминТайм биокамин.
					p Получил грамотную консультацию по&nbsp;эксплуатации и&nbsp;уходу. До сих пор не&nbsp;возникло никаких проблем. Радует созерцание живого огня, а&nbsp;биотопливо с&nbsp;различными ароматическими добавками помогает расслабиться после трудового дня.
					p Отдельное спасибо директору Фроловой Жанне за высокий профессионализм.
					span Дмитрий Оленин
					small Теле-радио ведущий, «Русское радио»

				.swiper-slide
					p Заказал полный комплекс услуг по&nbsp;установке камина, дымохода и&nbsp;мраморного портала. На месте получил грамотную консультацию, понял, что могу доверять этой фирме. Многолетний опыт и&nbsp;лицензия МЧС для меня имеют значение. Ребята сработали отлично. Без проволочек. Все мои пожелания учли. Портал сделали очень красивый.
					p Спасибо большое.
					span Стахеев Игорь
					small Предприниматель

				.swiper-slide
					p Приобрели здесь электрический камин с&nbsp;эффектом Opti-Myst (с паром) и&nbsp;заказали деревянный портал по&nbsp;индивидуальному проекту. Портал по&nbsp;цвету подобрали идеально под мебель, сроки все были соблюдены.
					p Спасибо огромное, с&nbsp;вами приятно иметь дело. В&nbsp;будущем откроем заказ на настоящий камин  и,&nbsp;конечно,&nbsp;только у вас. Будет вдохновлять меня на&nbsp;творчество.
					span Ольга Кормухина
					small Автор и исполнитель песен
				
				.swiper-slide
					p Никто не&nbsp;сумел сделать мне столь выгодное предложение по&nbsp;камину, как «КаминТайм». Не&nbsp;раздумывая стал с&nbsp;ними сотрудничать&nbsp;и&nbsp;не пожалел.
					p Камин подвесной, нестандартный,&nbsp;от французского производителя «Борделет» под заказ. Все пришло даже раньше, чем ожидал,&nbsp;и&nbsp;все соответствовало моим пожеланиям. Могу смело всем рекомендовать эту фирму.
					p Желаю процветания «КаминТайм».
					span Валерий Чудновец
					small Бизнесмен

				.swiper-slide
					p Приобрел у «КаминТайм» комплект: портал «Кардинал» из травертина и биовставку. Такой портал я больше не видел ни у одного из производителей. Подобрали все аксессуары и комплект для биокамина.
					p Позже заказал биовставку по индивидуальному размеру — все изготовили быстро и качественно.
					p Особенно признателен за рекомендации по стилю и дизайнерскому решению. Спасибо большое.
					span Григорий Кареев
					small Предприниматель

				.swiper-slide
					p Я&nbsp;сначала и&nbsp;подходить не хотела — думала всё очень дорого. Но&nbsp;девушка мне любезно рассказала о&nbsp;печках и&nbsp;помогла выбрать небольшую буржуйку для дачи.
					p Мы очень довольны ценой и&nbsp;качеством. Спасибо за то,&nbsp;что&nbsp;внимательно относитесь к посетителям.
					span Никитина Вера Павловна
					small Пенсионерка

				.swiper-slide
					p Приобретала у&nbsp;фирмы топку, дымоход и&nbsp;комплект всех материалов. Монтаж производила бригада мастеров «КаминТайм». Порадовала высокая квалификация.
					p Невероятной красоты мраморный портал с&nbsp;надстройкой и элементами из бронзы стал основным украшением в нашем доме. Я&nbsp;долго была в&nbsp;поисках и&nbsp;нашла,&nbsp;наконец,&nbsp;то,&nbsp;что хотелось, именно в&nbsp;«КаминТайм».
					p Выражаю искреннюю благодарность всем, кто создавал эту красоту. Рекомендую.
					span Ирченко Наталья
					small Бизнес-леди




