section.reviews#reviews
	.wrapper
		.about
			h2 Клиенты о&nbsp;нас
		.swiper-container
			.swiper-button-prev.swiper-button
			.swiper-button-next.swiper-button
			.swiper-wrapper
				.swiper-slide
					p Моя квартира выполнена в минималистическом стиле. Всё меня устраивало, пока не увидел у друзей биокамин в стиле hi-tec и понял, чего не достает в моем интерьре.
					p Друзья подсказали где я могу приобрести такой камин,  и я воспользовался советом .
					p Так что теперь друзья собираются у моего камина. Спасибо огромное КаминТайм за участие. Охотно рекомендую.
					span Эдгар Шабанов
					small Генеральный директор Clarins

				.swiper-slide
					p Моя квартира выполнена в минималистическом стиле. Всё меня устраивало, пока не увидел у друзей биокамин в стиле hi-tec и понял, чего не достает в моем интерьре.
					p Друзья подсказали где я могу приобрести такой камин,  и я воспользовался советом .
					p Так что теперь друзья собираются у моего камина. Спасибо огромное КаминТайм за участие. Охотно рекомендую.
					span Эдгар Шабанов
					small Генеральный директор Clarins

				.swiper-slide
					p Моя квартира выполнена в минималистическом стиле. Всё меня устраивало, пока не увидел у друзей биокамин в стиле hi-tec и понял, чего не достает в моем интерьре.
					p Друзья подсказали где я могу приобрести такой камин,  и я воспользовался советом .
					p Так что теперь друзья собираются у моего камина. Спасибо огромное КаминТайм за участие. Охотно рекомендую.
					span Эдгар Шабанов
					small Генеральный директор Clarins
				
				.swiper-slide
					p Моя квартира выполнена в минималистическом стиле. Всё меня устраивало, пока не увидел у друзей биокамин в стиле hi-tec и понял, чего не достает в моем интерьре.
					p Друзья подсказали где я могу приобрести такой камин,  и я воспользовался советом .
					p Так что теперь друзья собираются у моего камина. Спасибо огромное КаминТайм за участие. Охотно рекомендую.
					span Эдгар Шабанов
					small Генеральный директор Clarins